<div class="flex flex-col bg-slate-300 rounded w-60 h-95 m-5">
  <img [src]="postUrl()" width="300px" alt="poster" class="w-full h-48 object-cover rounded">
  <div class="flex flex-col p-5 rounded-r-5xl">
    <span class="font-bold text-slate-950">{{ title() }}</span>
    <span class="text-black text-1xl">{{ description() }}</span>
    <span class="text-slate-950 text-left text-0.3xl p-0.5 mb-3 h-7 w-35 bg-green-400 rounded">{{ tag() }}</span>
    <span class="font-bold text-slate-950 text-center text-1xl bg-cyan-200 rounded mt-auto" >{{ button() }}</span>
  </div>
</div>
